<%- include('partials/header', {user: false, classname: 'todohome'}) %>
			<section>
				<h2>Upload files to test out</h2>
				<a class="button" href="/login">Sign in</a>
			</section>
<%- include('partials/footer') %>