<%- include('partials/header', {user: false, classname: 'prompt'}) %>
			<h1>Sign in</h1>
			<% if (hasMessages) { %>
			<section class="messages">
				<% messages.forEach(function(message) { %>
				<p><%= message %></p>
				<% }); %>
			</section>
			<% } %>
			<a class="button google" href="/login/federated/google">Sign in with Google</a>
<%- include('partials/footer'); %>