<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>RailMount</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/index.css">
		<% if(classname=='prompt') { %>
		<link rel="stylesheet" href="/css/login.css">
		<% } else if(classname=="todohome") { %>
		<link rel="stylesheet" href="/css/home.css">
		<% } else { %>
		<link rel="stylesheet" href="/css/app.css">
		<% } %>
	</head>
	<body>
		<section class="<%= classname %>">
	  <% if (!!user&&user.username) { %>
			<nav class="nav">
				<ul>
					<li class="user"><%= user.username ?? user.name %></li>
					<li>
						<form action="/logout" method="post">
							<button class="logout" type="submit">Sign out</button>
						</form>
					</li>
				</ul>
			</nav>
      <% } %>
			<header class="header">
				<a href="/"><h1>RailMount</h1></a>
      </header>
